.img-responsive{
	width: 100% !important;
}
#bs-example-navbar-collapse-1 {
}

#padding_right_disable {
}

#slider {
}

#photodiry {
}

#lifestyle {
}

#newslatter {
	background-color: #F3F3F3;
	height: 275px;
}

#lifestyle_bottom {
}

.logo {
}
.logo h1{
	color: #101010;
	font-size: 30px;
	font-weight: 100;
	padding: 15px 0px;
}
.custom_navbar{
	background-color: transparent !important;
	border: none !important;


}
.custom_navbar ul{}
.custom_navbar ul li{
	
}
.custom_navbar ul li a{
	font-family: 'Playfair Display', serif;
    color: #777777;
    font-size: 15px !important;
    font-weight: 200;
    padding: 35px;
}
#padding_right_disable{
	padding-right: 0px;
}
.custom_navbar ul li a:hover{
	  color: #020202 !important;
      transition: 0.5;
}
.slider {
}

.img-responsive {
}

.container {
}

.common_sub_title {
	margin: 45px 0px;
}
.common_sub_title p{
	color: #8D8D8D;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 15px;

}

.description_padding {
	padding: 0px 40px;
}
.description h1{
	color: #626262;
	font-size: 39px;
}
.description p{
	color: #626262;
	font-size: 18px;
	line-height: 30px;
}
.single_content{
	margin: 45px 0px;
}

.content_img {
}
.newslatter_form h1{
	color: #505050;
	font-size: 37px;
	font-weight: 100;
	padding: 30px 0px;

}
.newslatter_form form{
	position: relative;
	width: 320px;
	margin: 0 auto;
}
.newslatter_form form input: focus{
	border-bottom: 3px solid black;
}

.newslatter_form form input{
	width: 320px;
	height: 43px;
	border-bottom: 1px solid black;
	border-bottom-width: medium;
	border-bottom-style: none;
	border border-bottom-color: currentColor;
	border-bottom: 1px solid black;
	background-color: transparent;
	font-size: 20px;

}
.newslatter_form form button{
	background-color: transparent;
	border:none;
	position: absolute;
	right: -6px;
	top: 9px;
}

.newslatter_form.text-center {
}

.form-inline {
}

.load_more{
	margin: 50px 0px;
}
.load_more button{
	background-color: transparent;
	border:1px solid black;
	padding: 15px 20px;
	font-size: 16px;
	color: #626262;
}
.footer{
	background-color: #F3F3F3;
	padding: 40px 0px;
	padding-bottom: 40px;
}

.terms_conditions ul li a,.social_media ul li a{
	text-decoration: none;
	color: #626262;
	font-size: 16px;
}

